@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-size: cover;
    background-position: center;
}


.header {
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.header a {
    font-family: 'Lugrasimo', cursive;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.secTion {
    text-align: center;
    align-items: center;
}

.btn,
.btn2 {
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 20px;
    color: #000;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn2:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.cats,
.dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.random_cats,
.random_dogs {
    width: 40%;
}

img {
    border: 3px solid #000;
    max-width: 400px;
    height: auto;
}